body{
text-align:center;
background-color:#d9e4dd;
font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif; 
}

.center-work{
margin-left:auto;
margin-right: auto;
}

.center-skills{
margin-left: auto;
margin-right:auto;
}

.image{
  position:absolute;
  top:40px;
}

.profile{
  position:relative;
  top: 0px; left: 200px;
}

hr{
  border-style: dotted;
  border-top-style: none;
  border-color: grey;
  border-width: 5px;
  width: 30%;
}



