body{
background-color:#EAF6F6;
}

.image{
  position:absolute;
  top:40px;
}

.profile{
  position:relative;
  top: 0px; left: 200px;
}
hr{
  border-style: dotted;
  border-top-style: none;
  border-color: grey;
  border-width: 5px;
  width: 80%;
}



